html
  head
    title= title

  body
    h1 Azure multi region example
    p Some values from your App Service website

    ul
      li
        code= "Server_IP: " + Client_IP
      li
        code= "Server_Location: " + Client_Address

    ul
      li
        code= "WEBSITE_HOSTNAME: " + WEBSITE_HOSTNAME
      li
        code= "WEBSITE_RESOURCE_GROUP: " + WEBSITE_RESOURCE_GROUP
      li
        code= "WEBSITE_OWNER_NAME: " + WEBSITE_OWNER_NAME
